.flex-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

mat-form-field {
  display: block;
  width: min(350px, 60vw);
}

.mat-raised-button:disabled {
  transform: scale(1);
  animation: pulse-green 2s infinite;
}

@keyframes pulse-green {
  0%{
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(3, 218, 197,0.7);
  }
  70%{
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(51, 217, 209, 0);
  }
  100%{
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(51, 217, 209, 0);
  }
}
